.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#main-nav {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  background-color: black;
}

#main-nav a {
  text-decoration: none;
  line-height: 8vh;
  color: white;
  font-size: 1.4em;
  font-weight: bold;

}

/* CELEBRITIES */

#celebrities {
  width: 100%;
  display: flex;
}

#popular-celebrities {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.celebrities-item {
  display: flex;
  margin-left: 40%;
  margin-bottom: 2vh ;
}

.celebrities-item img {
  max-height: 8vh;
  margin-right: 2vw;
}


#selected-celebrity {
  width: 40%;
}

.celebrity-movies {
  margin-bottom: 6vh;
}

.celebrity-movies img {
  max-height: 12vh;
}